<% include ../partials/header %>
    <!-- Creating the login form -->
    <div class="homepage-main">
        <%if(!admin.eid){%>
            <div class="form-display" style="margin-top: 10%">
                <form action="/adminlogin" method="post">
                    <p style="text-align:center; color:white; font-size: 25px;">Employee Login</p>
                    <input class="form-control" type="text" name="eid" placeholder="Employee ID">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                    <button class="btn btn-primary" type="submit">Login</button>
                </form>
            </div>
        <%}%>
        <%if(admin.eid){%>
            
            <div class="login-welcome-page">
            </div>
            <div class="login-welcome-message">
                <h2 style="font-size: 1in; color: white; text-shadow: 0px 0px 20px grey;">Welcome to EDS, &nbsp;<%=admin.ename%>!</h2>
                <a class="btn btn-primary" href="/profile">Visit Profile</a>
                <a class="btn btn-primary" href="/billinginfo">Bill Information</a>
            </div>
        <%}%>
    </div>
<% include ../partials/footer %>