<% include ../partials/header %>
    
    <div class="make-row container">
        <h1 class="table-header">New Connection Requests</h1>
        <div class="item">
            <p><b>Applicant Name</b></p>
            <p><b>Phone No.</b></p>
            <p><b>Board Name</b></p>
            <p><b>State</b></p>
            <p><b>Sub Division</b></p>
            <p><b>City</b></p>
            <p><b>Email</b></p>
        </div>
    </div>
<% include ../partials/footer %>