<% include ./partials/header %>
    <!-- Creating the login form -->
    <div class="homepage-main">
        <%if(!consumerId.cid && !admin.eid){%>
            <div class="form-display" style="margin-top: 10%">
                <form action="/" method="post">
                    <p style="font-size: 14px; color: grey">Please login to see your details...</p>
                    <input class="form-control" type="text" name="cid" placeholder="Consumer ID">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                    <button class="btn btn-primary" type="submit">Login</button>
                    <a style="text-align: center; margin-top: 10px;" class="btn btn-success" href="/newconnection">Apply for Connection</a>
                </form>
            </div>
        <%}%>
        <%if(consumerId.cid || admin.eid){%>
            <div class="login-welcome-page">
            </div>
            <div class="login-welcome-message">
                <h2 style="font-size: 1in; color: white; text-shadow: 0px 0px 20px grey;">Welcome to EDS, &nbsp;
                        <%if(consumerId.cid){%><%=consumerId.cname%>!</h2>
                            <a class="btn btn-primary" href="/profile">Visit Profile</a>
                            <a class="btn btn-primary" href="/billinginfo">Bill Information</a>
                        <%}%>
                        <%if(admin.eid){%><%=admin.ename%>!</h2>
                            <a class="btn btn-primary" href="/adminprofile">Visit Profile</a>    
                        <%}%>
            </div>
        <%}%>
    </div>
<% include ./partials/footer %>