/* Body Decoration */
body{
    top: 0;
    left: 0;
    background-color: rgba(241, 241, 241, 0.692);
}

.navbar{
    box-shadow: 0px 0px 8px black;
}

/* HOMEPAGE DECORATION */
.homepage-main{
    background-image: url("../images/renewables.jpg");
    background-size: cover;
    position: center center;
    height: 93vh;
    top: 0;
    left: 0;
    border-top: 1px solid white;
}

/* LOGIN FORM DECORATION */
.form-display >form {
    width: 30%;
    padding: 5%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 4px  black;
}

.form-display >form >.form-control{
    margin: 10px auto;
}

.homepage-main >form>input,.homepage-main >form>button{
    margin: 7px 0px;
}

.login-welcome-page{
    height: 93vh;
}

.login-welcome-message{
    margin-top: -35%;
    text-align: center;
}

.login-welcome-message >a {
    margin: 15px 20px;
}