<% include ../partials/header %>
    <div class="make-row container">
        <h1 class="table-header">Add Distribution Company</h1>
            <form class="add-new-form" style="align-items: center;" action="/powercompany/new" method="post">
                <div class="add-new-form-item">
                <label>PID</label><input class="form-control" type="text" name="pid"></input></div>
                <div class="add-new-form-item">
                <label>PNAME</label><input class="form-control" type="text" name="pname"></input></div>
                <div class="add-new-form-item">
                <label>Total Power</label><input class="form-control" type="text" name="totalpower"></input></div>
                <div class="add-new-form-item">
                <label>Type</label><input class="form-control" type="text" name="type"></input></div>
                <div class="add-new-form-item">
                <label>State</label><input class="form-control" type="text" name="state"></input></div>
                <div class="add-new-form-item">
                <input type="submit" class="btn btn-success btn-block" value="Submit"></input>
                </div>
            </form>
    </div>
<% include ../partials/footer %>