<% include ../partials/header %>
    <div class="new-connection-form container">
        <h1 class="table-header">New Connection Form</h1>
        <form action="/newconnection/add" method="post">
            <div class="display-inline">
                <label>Name of Applicant : </label><input class="form-control" name="cname"></input>
            </div>
            <div class="display-inline">
                <label>Father's Name : </label><input class="form-control" name="fname"></input>
            </div>
            <div class="display-inline">
                <label>Installation Address : </label><input class="form-control" name="address"></input>
            </div>
            <div class="display-inline">
                <label>Mobile No. : </label><input class="form-control" name="phone"></input>
            </div>
            <div class="display-inline">
                <label>Email : </label><input class="form-control" name="email"></input>
            </div>
            <div class="display-inline">
                <label>Purpose of Supply : </label><input class="form-control" name="purposeofsupply"></input>
            </div>
            <div class="display-inline">
                <label>City : </label><input class="form-control" name="city"></input>
            </div>
            <input type="submit" class="btn btn-success" value="Submit"></form>
        </form>
    </div>
<% include ../partials/footer %>